<div class="countainer p-5 ">
<h1> stupid couching</h1>
<div class="my-5">
<p><%=  @question.blank?  ? "😶" : @question %></p>
<p>-you</p>
</div>
<div class="bg-warning bg-gradient">
<h1><b><%= @answer %></b> </h1>
<p>-your couch</p>

</div>
