
<div class="countainer p-5 ">
<h1> stupid couching</h1>
<h4> ask your coach everything</h4>

<div class="form-inline ">
<form action="/answer" data-turbo="false">
  <input type="text" name="questions" class="form-control">

  <input type="submit" value="Ask!" class="btn-primary">

</form>
</div>
